/* .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
*/
.App {
  max-width: 600px;
  margin: 20px auto;
}
.App footer {
  font-size: 13px;
  text-align: center;
  margin-right: 20px;
}
