.Weather {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  border: 1px solid #9ba6a5;
  color: #41506b;
  padding: 25px;
  margin: 15px auto;
  max-width: 550px;
  border-radius: 5px;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 5px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 17px;
  font-weight: 200;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.btn {
  background-color: #98002d;
  border-color: #98002d;
}

a {
  color: #98002d;
}

@media (max-width: 600px) {
  .Weather h1 {
    font-size: 25px;
    font-weight: 400;
    margin: 5px 0 0 0;
  }

  .Weather li {
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
    list-style: none;
  }

  .WeatherTemp .temperature {
    font-weight: 300;
    font-size: 40px;
  }

  .WeatherTemp .unit {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    bottom: 25px;
    margin-left: 2px;
  }
}

@media (max-width: 425px) {
  .WeatherTemp .temperature {
    font-weight: 300;
    font-size: 35px;
  }
  .WeatherTemp .unit {
    font-size: 11px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    margin-left: 2px;
  }
}

@media (max-width: 375px) {
  .WeatherTemp .temperature {
    font-weight: 300;
    font-size: 34px;
  }
  .WeatherTemp .unit {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    margin-left: 2px;
  }
}

/*
@media (max-width: 960px) {

    h1 {
        font-size: 24px;
        margin: 12px;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .hero {
        text-align: center;
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 24px;
    }

     .hero h4 {
        font-size: 22px;
    }

    .after-hero {
        text-align: center;
        padding: 0px 10px;
    }

    .hero .sophia-128 {
    width:  300px;
    height: 200px;
    object-fit: fill;
    filter: sepia(20%);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: var(--branding-color);
    font-family: "Nunito", sans-serif;
    font-size: 10px;
}

footer .social-links a {
    color: rgb(88, 135, 59);
    font-size: 20px;

}

}
*/
