.Weather {
  border: 1px solid #9ba6a5;
  color: #757a79;
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  border-radius: 5px;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 5px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  font-weight: 200;
  list-style: none;
}
